.App {
  text-align: center;
  /* blue    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  list-style-type: none;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.article-list {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
flex-wrap: wrap;

}
li {
  padding: 4px;
}

.navbar {
  display: flex;
}

.nav-list {
  list-style-type: none;
}

.article-list-items {
width: 350px;
border: 1px solid gray;
box-shadow: 1px 1px 3px rgb(138, 108, 108);
border-top: 10px solid rgb(54, 46, 46);
min-height: 250px;
padding: 20px;
margin: 30px;
  
}
h4 {
  color: black;
}

.comments-title {
  text-align: center;
  margin-top: 2px;
}